<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="608fd51a-8e5c-441f-bbfd-704b8e8edfc6" Publisher="CN=mingen" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SGFoodSnap</DisplayName>
    <PublisherDisplayName>mingen</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SGFoodSnap.App">
      <VisualElements DisplayName="SGFoodSnap" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SGFoodSnap" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>